%li{:id => dom_id(item)}
  = link_to item.name, page_path(item)
  = link_to '(Edit) | ', edit_page_path(item)
  = link_to '(Destroy)', item, :remote => true, :confirm => 'Are you sure?', :method => :delete